<div class="container-fluid col-xl-12">
  <app-logo-ap></app-logo-ap>
  <app-social-media></app-social-media>
</div>



1
1
1
1
1
1
<div class="container-fluid">
  <div class="col-xl-6">
    <a href="https://argentinaprograma.inti.gob.ar/">
      <img src="../../../../assets/APLogo.png" alt="Argentina Programa Logo" />
    </a>
  </div>
  <div class="">
    <a href="https://www.instagram.com/luuca.p_"><img src="../../../assets/instagram.png" alt="Instagram"/></a>
    <a href="https://twitter.com/Luca_Povolo"><img src="../../../assets/twitter.png" alt="Twitter"/></a>
    <a href="https://github.com/Ozhammar"><img src="../../../assets/github.png" alt="Git"/></a>
    <a href="https://www.facebook.com/Luqaz"><img src="../../../assets/facebook.png" alt="Facebook"/></a>
  </div>
</div>
